<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <script>
        "use strict";
        document.write("<div style='text-align:center;'>");
        document.write("<h1 style='color:blue;'>Мій сайт</h1>");
        document.write("<p style='font-size:18px;'>Це приклад сторінки, згенерованої за допомогою JavaScript.</p>");
        document.write("<p style='color:red;'>Цей текст має червоний колір.</p>");
        document.write("<p>Центрування та форматування тексту досягнуто за допомогою inline-стилів.</p>");
        document.write("<p style='font-size:14px;'>Кінець формування сторінки.</p>");
        document.write("</div>");
    </script>
    <script type="module" src="../js/task4.js"></script>
</body>
</html>